---
layout: page
title: "Home"
---


The Xingbo Wu Lab at the Tropical Research and Education Center in Homestead, FL, is led by Dr. Xingbo Wu, an Assistant Professor specializing in plant breeding, genetics, genomics, and bioinformatics. Our lab focuses on breeding and developing new cultivars of tropical ornamental plants that exhibit elite traits while fitting into sustainable agricultural systems with minimal environmental impact.

We employ conventional breeding methods such as hybridization, mutation, and ploidy manipulation to create new traits. Additionally, we integrate modern genomic techniques to enhance breeding efficiency and develop valuable genetic and genomic resources for ornamental plants.

Our lab also extends its research findings to the ornamental industry, providing research-based information to support informed decision-making and drive innovation in the field.







{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
